.idea/
.vscode/
**/__pycache__/
*.pyc
*.pyo
.venv/
dist/
*.egg-info/
.hatch/
*.dist-info/

# secrets
secrets.yaml

# artefacts de test / qualité
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# macOS
.DS_Store
